.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 20px;
        background-color: rgb(225, 225, 225);
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }

    &__close {
        position: absolute;
        right: 15px;
        top: 15px;
        height: 20px;
        width: 20px;
        transition: all 0.2;
        background: none;
        background-image: url("./icons/close.png");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;

        &:hover {
            cursor: pointer;
            transform: scale(1.06);
        }
    }

    &__title {
        display: flex;
        align-items: center;
        column-gap: 10px;

        img {
            object-fit: cover;
            width: 50px;
        }
    }

    &__table {
        th {
            box-sizing: border-box;
            font-weight: bold;
            text-align: left;
            padding: 10px 10px;
            border: none;
        }

        tbody td {
            box-sizing: border-box;
            text-align: left;
            padding: 10px 10px;
            vertical-align: top;
        }
    }
}

.modal.active {
    display: flex;
}