.main-page {
    background-color: rgb(227, 227, 227);

    &__content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 15px;
    }

    &__error {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 24px;

        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
    }
}

.main-page__list {
    columns: 5;
    column-gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding: 5px 0px;

        &:hover {
            cursor: pointer;
            font-weight: 600;
        }
    }

    img {
        height: 20px;
        width: 30px;
        object-fit: contain;
    }
}